<div class="header row w-100">
  <div class="logo col-md-3">
    <img src="assets/logo.svg" class="logoImage" />
  </div>

  <div class="link col-md-9">
    <div><a (click)="onHomeClick()" class="nav-link">Home</a></div>
    <div><a (click)="onSaveClick()" class="nav-link">Save</a></div>
    <div><a (click)="onTravelClick()" class="nav-link">Travel</a></div>
    <div>
      <a (click)="onExperienceClick()" class="nav-link">Experience</a>
    </div>
    <div><a (click)="onWalletClick()" class="nav-link">Wallet</a></div>
    <div>
      <a (click)="onContactUsClick()" class="nav-link"
        ><button mat-raised-button color="primary" class="contact">
          Contact Us
        </button></a
      >
    </div>
  </div>
</div>
