.savingSection {
  display: flex;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  background-color: black;
}
.firstimg {
  height: 500px;
  width: 375px;
  padding-left: 40px;
  padding-top: 20px;
}
.saving {
  font-weight: 900;
  font-size: 33px;
  padding-top: 60px;
  font-family: "Nunito";
  line-height: 50px;
}
.saveText {
  padding-top: 13px;
}
.saveButton {
  color: white;
  background-color: #49b649;
  padding: 7px 25px;
  border-radius: 10px;
  margin-top: 35px;
}
.uiButton {
  color: white;
  background-color: #49b649;
  padding: 7px 25px;
  border-radius: 10px;
  margin-top: 10px;
}
.iconPart {
  display: flex;
  justify-content: left;
  padding-top: 30px;
}
.fline {
  display: flex;
  justify-content: left;
  padding-top: 10px;
}
.iconLogo {
  height: 120px;
  width: 120px;
  // padding-left:0px;
}
.figmaIcon {
  height: 22px;
  width: 22px;
}
.imgSection {
  display: flex;
  justify-content: center;
  align-items: center;
  //padding-left: 40px;
}
.iconLogoPart {
  display: flex;
  padding-left: 70px;
}
.why {
  display: flex;
  justify-content: center;

  font-size: 35px;
  padding-top: 80px;
  padding-bottom: 40px;
}
.ambitious {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}
.mainDiv {
  color: white;
  background-color: black;
}
.saveImage {
  height: 60px;
  width: 60px;
}
.saveIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.saveMoney {
  font-size: 20px;
  padding-top: 5px;
}
.icons {
  padding: 100px 40px 50px 40px;
}
.invest {
  padding-top: 15px;
}
.save {
  margin-bottom: 40px;
}
.saveImages {
  justify-content: center;
  display: flex;
}
.saveDetail {
  justify-content: left;
  padding-left: 70px;
}
.saveLine {
  font-size: 30px;
  line-height: 40px;
}
.fundLine {
  font-size: 30px;
  line-height: 40px;
}
.trasave {
  padding-top: 20px;
}
.line {
  border-color: #49b649;
  border-radius: 1px;
  width: 80px;
  margin-top: 150px;
  height: 5px;
  background-color: #49b649;
  opacity: 1;
}
.plash {
  height: 350px;
  width: 390px;
  margin-top: 100px;
}
.plashline {
  border-color: #49b649;
  border-radius: 1px;
  width: 80px;
  margin-top: 220px;
  height: 5px;
  background-color: #49b649;
  opacity: 1;
}
