<div class="mainDiv">
  <div class="savingSection row g-0 w-100">
    <div class="col-md-6">
      <div class="saving">
        <span style="color: #49b649">SAVING</span> YOUR MONEY FOR TRAVEL THROUGH
        TRAVEL FUND
      </div>
      <div class="saveText">
        Save your money for travel securely and explore the whole world with
        trasave, we provide you the best travel services.
      </div>
      <div>
        <a class=""
          ><button mat-raised-button color="primary" class="saveButton">
            Save now
          </button></a
        >
      </div>
      <div>
        <a class=""
          ><button mat-raised-button color="primary" class="uiButton">
            UI/UX Case Study
          </button></a
        >
      </div>
      <div class="iconPart">
        <div>
          <div class="fline">
            <div><img src="assets/icon.png" class="figmaIcon" /></div>
            <div>Figma</div>
          </div>

          <div class="fline">
            <div><img src="assets/psimg.png" class="figmaIcon" /></div>
            <div>Photoshop</div>
          </div>

          <div class="fline">
            <div><img src="assets/aiimg.png" class="figmaIcon" /></div>
            <div>Illustrator</div>
          </div>
        </div>
        <div class="iconLogoPart">
          <img src="assets/iconLogo.png" class="iconLogo" />
        </div>
      </div>
    </div>
    <div class="imgSection col-md-6">
      <img src="assets/firstimg.png" class="firstimg" />
    </div>
  </div>
  <div class="why">Why to travel with us?</div>
  <div class="ambitious">
    Ambitious about your next adventure but sick of saving money? End up
    sneaking into those savings
  </div>
  <div class="ambitious">
    because well.. You’re bored? Lost motivation? You don’t feel the funds are
    growing fast enough? Saving
  </div>
  <div class="ambitious">
    just sucks? Trasave has introduced an epic new way to reward you for your
    savings for travel
  </div>
  <div class="icons row w-100">
    <div class="save col-md-4">
      <div class="saveIcon">
        <img src="assets/save.svg" class="saveImage" />
      </div>
      <div class="saveMoney saveIcon">Save money</div>
      <div class="invest saveIcon">Invest in trasave</div>
      <div class="saveIcon">securily for future</div>
    </div>
    <div class="save col-md-4">
      <div class="saveIcon">
        <img src="assets/save.svg" class="saveImage" />
      </div>
      <div class="saveMoney saveIcon">Earn rewards</div>
      <div class="invest saveIcon">Earn rewards and</div>
      <div class="saveIcon">track your money</div>
    </div>

    <div class="save col-md-4">
      <div class="saveIcon">
        <img src="assets/save.svg" class="saveImage" />
      </div>
      <div class="saveMoney saveIcon">Travel</div>
      <div class="invest saveIcon">Use this money for</div>
      <div class="saveIcon">ur traavelling</div>
    </div>
  </div>
  <div class="secondPart row w-100">
    <div class="saveDetail col-md-6">
      <div><hr class="line" /></div>
      <div class="saveLine">Save and get Travel</div>

      <div class="fundLine">Fund Rewards</div>
      <div class="trasave">
        Trasave travel fund is a fun and secure way to save. Not only can you
        customise your own travel journey but also earn rewards while travelling
        by uploading videos of the destination. Also it gives cool tips to
      </div>
      <div class="trasave">
        encourage more savings and we will also reward you with epic cool gifts
        when you hit saving goals.
      </div>
    </div>
    <div class="saveImages col-md-6">
      <img src="assets/saveimg.png" height="420px" width="350px" />
    </div>
  </div>
  <div class="secondPart row w-100">
    <div class="saveDetail col-md-6">
      <div><hr class="plashline" /></div>
      <div class="saveLine">Save now and earn</div>

      <div class="fundLine">cashback upto 250</div>
      <div class="trasave">We at trasave provide ou the best destination</div>
      <div>for travel.</div>
      <div>
        <a class=""
          ><button mat-raised-button color="primary" class="saveButton">
            Let's save
          </button></a
        >
      </div>
    </div>
    <div class="saveImages col-md-6">
      <img src="assets/plash.png" class="plash" />
    </div>
  </div>
</div>
