.savingSection {
  display: flex;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  background-color: black;
}
.firstimg {
  height: 500px;
  width: 375px;
  padding-left: 40px;
  padding-top: 20px;
}
.saving {
  font-weight: 900;
  font-size: 33px;
  padding-top: 60px;
  font-family: "Nunito";
  line-height: 50px;
}
.saveText {
  padding-top: 13px;
}
.saveButton {
  color: white;
  background-color: #49b649;
  padding: 7px 25px;
  border-radius: 10px;
  margin-top: 35px;
}
.uiButton {
  color: white;
  background-color: #49b649;
  padding: 7px 25px;
  border-radius: 10px;
  margin-top: 10px;
}
.iconPart {
  display: flex;
  justify-content: left;
  padding-top: 30px;
}
.fline {
  display: flex;
  justify-content: left;
  padding-top: 10px;
}
.iconLogo {
  height: 120px;
  width: 150px;
  // padding-left:0px;
}
.figmaIcon {
  height: 22px;
  width: 22px;
}
.imgSection {
  display: flex;
  justify-content: center;
  align-items: center;
  //padding-left: 40px;
}
.iconLogoPart {
  display: flex;
  padding-left: 70px;
}
.why {
  //display: flex;
  text-align: center;
  justify-content: center;
  font-weight: 800;
  font-size: 35px;
  padding-top: 90px;
  padding-bottom: 40px;
  line-height: 40px;
  padding-left: 10px;
}
.ambitious {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}
.we {
  text-align: right;
  font-size: 16px;
}
.mainDiv {
  color: white;
  background-color: black;
}
.saveImage {
  height: 60px;
  width: 60px;
}
.saveIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.saveMoney {
  font-size: 20px;
  padding-top: 5px;
}
.icons {
  padding: 100px 40px 50px 40px;
}
.invest {
  padding-top: 15px;
}
.save {
  margin-bottom: 40px;
}
.saveImages {
  justify-content: center;
  display: flex;
}
.saveDetail {
  justify-content: left;
  padding-left: 70px;
}
.saveLine {
  font-size: 35px;
  line-height: 40px;
}
.saveLines {
  font-size: 35px;
  line-height: 40px;
  padding-top: 10px;
}
.fundLine {
  font-size: 35px;
  line-height: 40px;
}
.trasave {
  font-size: 16px;
}
.trasaveWe {
  font-size: 16px;
  padding-top: 20px;
}
.trasaveText {
  padding-top: 20px;
}
.line {
  border-color: #49b649;
  border-radius: 1px;
  width: 100px;
  margin-top: 100px;
  height: 4px;
  background-color: #49b649;
  opacity: 1;
}
.plash {
  height: 370px;
  width: 100%;
  margin-top: 100px;
  object-fit: cover;
}
.plashline {
  border-color: #49b649;
  border-radius: 1px;
  width: 100px;
  margin-top: 220px;
  height: 4px;
  background-color: #49b649;
  opacity: 1;
}
.mainPart {
  padding-top: 100px;
}

.secondPart {
  padding-top: 20px;
}
.manImage {
  height: 420px;
  width: 350px;
}
.man {
  display: flex;
  justify-content: center;
}
.manLine {
  border-color: #49b649;
  border-radius: 1px;
  width: 100px;
  margin-top: 150px;
  height: 4px;
  background-color: #49b649;
  opacity: 1;
}
.manLineText {
  display: flex;
  justify-content: right;
  padding-top: 30px;
}
.manLetter {
  padding-right: 70px;
}
.find {
  font-size: 35px;
  line-height: 40px;
  display: flex;
  justify-content: right;
  // padding-left: 40px;
}
.findOf {
  padding-bottom: 20px;
}
.textArea {
  padding-left: 70px;
  padding-top: 50px;
}
.there {
  font-size: 16px;
  text-align: left;
  padding-left: 50px;
}
.as {
  padding-top: 20px;
}
.theres {
  padding-top: 130px;
}
